on:
  push:
    branches: [ main ]
      
  pull_request:
    branches: [ main ]


jobs:
    compiling:
        runs-on: self-hosted
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v6
              with:
                node-version: 23
            
            - name: Frontend Build
              run: |
                cd client
                find . -name "*.js" -exec node --check {} +
            
            - name: Backend Build
              run: |
                cd api
                find . -name "*.js" -exec node --check {} +
            
    GitLeaks-scan:
        runs-on: self-hosted
        needs: compiling
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: git leaks setup
              uses: gitleaks/gitleaks-action@v2
              
            - name: Run gitleaks scan
              run: |
                gitleaks detect --source ./client --exit-code 1
                gitleaks detect --source ./api --exit-code 1
