on:
  push:
    branches: [ main ]
      
  pull_request:
    branches: [ main ]


jobs:
    compiling:
        runs-on: self-hosted
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v6
              with:
                node-version: 23
            
            - name: Frontend Build
              run: |
                cd client
                find . -name "*.js" -exec node --check {} +
            
            - name: Backend Build
              run: |
                cd api
                find . -name "*.js" -exec node --check {} +
            
    GitLeaks-scan:
        runs-on: self-hosted
        needs: compiling
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: git leaks setup
              uses: gitleaks/gitleaks-action@v2
              
            - name: Run gitleaks scan
              run: |
                gitleaks detect --source ./client --exit-code 1
                gitleaks detect --source ./api --exit-code 1
    

    build_docker_backend_and_push:
        runs-on: ubuntu-latest
        needs: GitLeaks-scan
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Login to Docker Hub
              uses: docker/login-action@v2
              with:
                username: ${{ vars.DOCKERHUB_USERNAME }}
                password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3
            - name: Build and Push Docker image
              uses: docker/build-push-action@v6
              with:
                context: ./api  
                push: true
                tags: anuragjosyula/backend:latest
                file: ./api/Dockerfile
    
    build_docker_frontend_and_push:
        runs-on: ubuntu-latest
        needs: GitLeaks-scan
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Login to Docker Hub
              uses: docker/login-action@v2
              with:
                username: ${{ vars.DOCKERHUB_USERNAME }}
                password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3
            - name: Build and Push Docker image
              uses: docker/build-push-action@v6
              with:
                context: ./client  
                push: true
                tags: anuragjosyula/frontend:latest
                file: ./client/Dockerfile

    Trivy_image_scan_frontend:
        runs-on: ubuntu-latest
        needs:
          - build_docker_backend_and_push
          - build_docker_frontend_and_push
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Run Trivy vulnerability scanner in fs mode
              uses: aquasecurity/trivy-action@0.28.0
              with:
                scan-type: image        # diff scan types like fs, image, this is important for trivy
                scan-ref: anuragjosyula/frontend:latest
                severity: 'HIGH,CRITICAL'
                vuln-type: 'os,library'
    
    Trivy_image_scan_backend:
        runs-on: ubuntu-latest
        needs:
          - build_docker_backend_and_push
          - build_docker_frontend_and_push
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Run Trivy vulnerability scanner in fs mode
              uses: aquasecurity/trivy-action@0.28.0
              with:
                scan-type: image            # diff scan types like fs, image, this is important for trivy
                scan-ref: anuragjosyula/backend:latest
                severity: 'HIGH,CRITICAL'
                vuln-type: 'os,library'
                